{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Hero Start -->
<section class="bg-half-170 d-table w-100 overflow-hidden" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7">
                <div class="title-heading mt-4">
                    <div class="alert alert-transparent alert-pills shadow" role="alert">
                        <span class="badge rounded-pill bg-primary me-1">جدید </span>
                        <span class="content">افزوده جدید برنامه ویترین مدرن و کلاسیک</span>
                    </div>
                    <h1 class="heading mb-3">ما بهترین برنامه هایی را ایجاد می کنیم که کاربران آنها را دوست دارند</h1>
                    <p class="para-desc text-muted">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت
                        صفحه بوت استرپ v5 html تبدیل محور بهره مند شوید.</p>
                    <div class="mt-4 pt-2">
                        <a href="javascript:void(0)" class="btn btn-primary m-1">اکنون نصب کن</a>
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk"
                            class="btn btn-icon btn-pills btn-primary m-1 lightbox"><i data-feather="video"
                                class="icons"></i></a><span class="fw-bold text-uppercase small align-middle ms-1">اکنون
                            تماشا کنید </span>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="classic-app-image position-relative">
                    <div class="bg-app-shape position-relative">
                        <img src='{% static "images/app/classic01.png" %}' class="img-fluid mover mx-auto d-block "
                            alt="">
                    </div>
                    <div class="app-images d-none d-md-block">
                        <img src='{% static "images/app/calender.png" %}' class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<section class="section overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <span class="badge bg-primary rounded-pill mb-2">ویژگی ها </span>
                    <h4 class="title mb-4">چه کاری انجام می دهیم؟</h4>
                    <p class="text-muted para-desc mx-auto mb-0">شروع به کار با <span class="text-primary fw-bold">
                            لنـدریـک </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن
                        نیاز دارید فراهم کند.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-md-4 col-12 mt-4 pt-2">
                <div class="card text-center rounded border-0">
                    <div class="card-body">
                        <div class="p-3 bg-light rounded shadow d-inline-block">
                            <img src='{% static "images/icon/art-and-design.svg" %}' class="avatar avatar-small" alt="">
                        </div>
                        <div class="mt-4">
                            <h5><a href="javascript:void(0)" class="text-dark">طراحی و مارک تجاری</a></h5>
                            <p class="text-muted mt-3 mb-0">اگر توزیع حروف و کلمات توزیع تصادفی باشد ، خواننده حواس او
                                را پرت نمی کند.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-4 col-12 mt-4 pt-2">
                <div class="card text-center bg-primary bg-gradient rounded border-0">
                    <div class="card-body">
                        <div class="p-3 bg-light rounded shadow d-inline-block">
                            <img src='{% static "images/icon/smartphone.svg" %}' class="avatar avatar-small" alt="">
                        </div>
                        <div class="mt-4">
                            <h5><a href="javascript:void(0)" class="text-white title-dark">کاملاً امن</a></h5>
                            <p class="text-white-50 mt-3 mb-0">اگر توزیع حروف و کلمات توزیع تصادفی باشد ، خواننده حواس
                                او را پرت نمی کند.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-4 col-12 mt-4 pt-2">
                <div class="card text-center rounded border-0">
                    <div class="card-body">
                        <div class="p-3 bg-light rounded shadow d-inline-block">
                            <img src='{% static "images/icon/clock.svg" %}' class="avatar avatar-small" alt="">
                        </div>
                        <div class="mt-4">
                            <h5><a href="javascript:void(0)" class="text-dark">عملکرد بالا</a></h5>
                            <p class="text-muted mt-3 mb-0">اگر توزیع حروف و کلمات توزیع تصادفی باشد ، خواننده حواس او
                                را پرت نمی کند.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->

<!--end section-->
<!-- Counter End -->

<!-- Start Plan -->
<section class="section">
    <div class="container">
        <div class="row align-items-end mb-4 pb-2">
            <div class="col-md-8">
                <div class="section-title text-center text-md-start">
                    <h4 class="title mb-4">بهترین ها را انتخاب کنید <br> یکی برای شما </h4>
                    <p class="text-muted mb-0 para-desc">شروع به کار با <span class="text-primary fw-bold">لنـدریـک
                        </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید
                        فراهم کند.</p>
                </div>
            </div>
            <!--end col-->
            <div class="col-md-4 mt-4 mt-sm-0">
                <div class="text-center text-md-end">
                    <ul class="nav nav-pills bg-white rounded-lg justify-content-center d-inline-block shadow py-1 px-2 mb-0"
                        id="pills-tab" role="tablist">
                        <li class="nav-item d-inline-block">
                            <a class="nav-link px-3 rounded-lg active monthly" id="Monthly" data-bs-toggle="pill"
                                href="#Month" role="tab" aria-controls="Month" aria-selected="true">ماهانه </a>
                        </li>
                        <li class="nav-item d-inline-block">
                            <a class="nav-link px-3 rounded-lg yearly" id="Yearly" data-bs-toggle="pill" href="#Year"
                                role="tab" aria-controls="Year" aria-selected="false">سالانه </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="Month" role="tabpanel" aria-labelledby="Monthly">
                        <div class="row">
                            {% for plan in monthlyPlans %}
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">{{ plan.product.name }}</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h6 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">{{plan.price}}</span>
                                            <span class="h5 align-self-end mb-1"> /ماهانه </span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            {% for feature in plan.product.features %}
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>{{ feature }}
                                            </li>
                                            {% endfor %}

                                        </ul>
                                        <a href="{% url 'frontend:checkout' plan.id %}" class="btn btn-primary mt-4">خرید</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            {% endfor %}
                        </div>
                        <!--end row-->
                    </div>
                    <div class="tab-pane fade" id="Year" role="tabpanel" aria-labelledby="Yearly">
                        <div class="row">
                            {% for plan in yearlyPlans %}
                            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                                <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                                    <div class="card-body">
                                        <h6 class="title fw-bold text-uppercase text-primary mb-4">{{ plan.product.name }}</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h6 mb-0 mt-2">$</span>
                                            <span class="price h1 mb-0">{{plan.price}}</span>
                                            <span class="h5 align-self-end mb-1"> /سالانه </span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            {% for feature in plan.product.features %}
                                            <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                class="uil uil-check-circle align-middle"></i></span>{{ feature }}
                                            </li>
                                            {% endfor %}

                                        </ul>
                                        <a href="{% url 'frontend:checkout' plan.id %}" class="btn btn-primary mt-4">خرید</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            {% endfor %}
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End Plan -->

{% endblock body %}